##Strings

In [1]:
food="biryani"
food

'biryani'

In [9]:
print(len(food))
print(food[0:2])
print(food[2:6])
print(food[0:])
print(food[ :7])
print(food[3:7])

7
bi
ryan
biryani
biryani
yani

In [10]:
#Capitalized the first letter.
food.capitalize()

'Biryani'

In [14]:
#change in upper case all string
food.upper()

'BIRYANI'

In [15]:
#change in lower case
food.lower()

'biryani'

In [17]:
#replace any letter in string
food.replace("bi","Shi")

'Shiryani'

In [18]:
#counting a  total number of times letter in string
food.count("i")

2

##Indexing number finding in string

In [20]:
name="My name is Saadat Hussain"
#.find("n")
name.find("S")

11

In [21]:
name="Saadat, Saad, Waqar, Ibrahim, YASIR"
name

'Saadat, Saad, Waqar, Ibrahim, YASIR'

In [22]:
#Spliting the string with qoma , base
name="Saadat, Saad, Waqar, Ibrahim, YASIR"
name.split(",")

['Saadat', ' Saad', ' Waqar', ' Ibrahim', ' YASIR']

##Tuple

In [23]:
tupl1=(1,"python", True, 2.5)
tupl1

(1, 'python', True, 2.5)

In [24]:
tupl1[0:3] #indexing of tuple

(1, 'python', True)

In [25]:
len(tupl1) #length of tuple

4

In [26]:
tupl2=(2,"programming", False, 3.7)
tupl2

(2, 'programming', False, 3.7)

In [27]:
tupl3=tupl1+tupl2
tupl3

(1, 'python', True, 2.5, 2, 'programming', False, 3.7)

In [28]:
tupl1*3+tupl2

(1,
 'python',
 True,
 2.5,
 1,
 'python',
 True,
 2.5,
 1,
 'python',
 True,
 2.5,
 2,
 'programming',
 False,
 3.7)

In [30]:
tupl5=(10,20,30,40,50,60,70,80,90,100)
min(tupl5)

10

In [31]:
max(tupl5)

100